
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    padding: 20px;


  }

  .searchResults {
    padding: 15px;
    text-align: center;
    list-style: none;
    border: 1px  #dcb6af solid;
    border-radius: 15px;
    background-color: white;


  }

.btn {
    margin: 1rem;
}

.bold{
    font-weight:"bold";
}


