#bookList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  border-radius:30px;
}

#book {
  display: flex;
  gap: 2rem;

}

.wrapper {
  flex-direction: column;
  align-items: flex-start;
}

#bookButton {
  margin-bottom: 2rem;;
}

.book-item {
  box-sizing: border-box;
  width: 33.3333%;
  padding: 10px;

}

.bold {
  font-weight: bold;
}

